# .gitignore
# Ignore build files
/build/
/build-win/
*.o
*.obj
*.so
*.dll
*.dylib
*.exe

# Ignore CMake cache and build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore editor files
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
*.DS_Store
.idea/
.vscode/

# Ignore logs and other artifacts
*.log
*.tmp
